* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}

#record,
#capture {
  z-index: 2;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  outline: none;
  border: none;
  border: 3px solid white;
  background: black;
}

#gallery {
  /* height: 3.5rem; */
  /* width: 3.5rem; */
  position: fixed;
  z-index: 2;
  bottom: 10rem;
  right: 1.8rem;
  background-color: black;
  cursor: pointer;
}
.material-icons {
  font-size: 48px;
  color: white;
  cursor: pointer;
}

#record {
  right: 3vh;
  top: 49vh;
}

#capture {
  right: 3vh;
  top: 38vh;
}
.video-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

video {
  height: 100%;
  width: 100%;
}

#record div {
  background: red;
  height: 60%;
  width: 68%;
  margin: auto;
  border-radius: 50%;
}


.filter-container {
  height: 60vh;
  width: 15vh;
  position: fixed;
  margin-top: 6rem;
  margin-left: 3rem;
  z-index: 2;
}

.filter {
  width: 100%;
  height: 16.6%;
  margin-bottom: 5px;
  background-image: url(tree.jpg);
  background-size: cover;
}

.filter:hover {
  border: 1px solid black;
}

.record-animation {
  animation: zoom-In-Out 0.8s infinite;
}

.capture-animation {
  animation: zoom-In-Out 0.1s 1;
}
@keyframes zoom-In-Out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.filter-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 0;
  cursor: pointer;
}

.zoom-container {
  height: 6rem;
  width: 4rem;
  position: fixed;

  z-index: 2;
  right: 1.5rem;
  top: 4rem;
}

.zoom-in {
  height: 50%;
  width: 100%;
  font-size: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 43px;
  border-radius: 25px;
  border: 3px solid white;
  background-color: #57606f;
  cursor: pointer;
  margin-top : 37px
}

.zoom-out {
  height: 50%;
  width: 100%;
  color: white;
  font-size: 74px;

  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 25px;
  border: 3px solid white;
  background-color: #57606f;
  cursor: pointer;
  margin-top : 3px;
}
